<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cereal_shopper">

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@drawable/cereal_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cereal_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".AddToPantry"
            android:label="@string/title_activity_add_to_pantry"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Lists" />
        <activity
            android:name=".AddGroupItem"
            android:label="@string/title_activity_add_group_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RecapItem" />
        <activity android:name=".AddToShoppingList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>